
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="~/">Index</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="@Url.RouteUrl("AboutRoute")">About</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>




            @*<navbar>
                <a href="@Url.RouteUrl("Default")">Index</a>
                <a href="@Url.RouteUrl("AboutRoute")">About</a>*@

            </nav>
            <h1>Accueil</h1>
            @*<a href="~/home/about">A propos</a>
            <br />
            @*redirection vers une page*@
            @*@Html.ActionLink("A propos", "About", "Home")*@
            @*<br />*@
            @*redirection d'une page avec balises sur le texte*@
            @*<a href="@Url.Action("About", "Home")><span>A propos</span></a>*@
            @*<br />*@
            @*<a href="@Url.RouteUrl("AboutRoute")">A propos</a>*@
</div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
