@model Roomy.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Nouvel utilisateur</h2>

@using (Html.BeginForm("Create", "Users", System.Web.Mvc.FormMethod.Post))
{
<div class="form-group">
    @*<label for="inputNom">Nom<</label>
        <input type="text" name="Lastname" id="inputNom" placeholder="Entrer votre nom" class="form-control"/>*@


    @Html.LabelFor(x => x.Lastname, "Lastname")
    @Html.EditorFor(x => x.Lastname, null, new { htmlAttribute = new { @class = "form-control" } })

    @Html.LabelFor(x => x.Firstname, "Firstname")
    @Html.EditorFor(x => x.Firstname, null, new { htmlAttribute = new { @class = "form-control" } })

    @Html.LabelFor(x => x.Mail, "Mail")
    @Html.EditorFor(x => x.Mail, null, new { htmlAttribute = new { @class = "form-control" } })

    @Html.LabelFor(x => x.BirthDate, "Birthdate")
    @Html.EditorFor(x => x.BirthDate, null, new { htmlAttribute = new { @class = "form-control" } })

    @Html.LabelFor(x => x.Password, "Password")
    @Html.EditorFor(x => x.Password, null, new { htmlAttribute = new { @class = "form-control" } })

    @Html.LabelFor(x => x.ConfirmedPassword, "ConfirmedPassword")
    @Html.EditorFor(x => x.ConfirmedPassword, null, new { htmlAttribute = new { @class = "form-control" } })









    @Html.EditorFor(x => x.Lastname)
    @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control" })



    @*@Html.TextBoxFor(x=> x.Lastname)*@
</div>
    <button type="submit" class="btn btn-dark">Enregistrer</button>
}