@model Roomy.Models.User

@{

    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewBag.Title = "Create";
}

@section SectionTitle{ 
    <h2>Nouvel Utilisateur</h2>
}

<div class="col-md-6">
    @using (Html.BeginForm("Create", "Users", System.Web.Mvc.FormMethod.Post))


    {

        @*<label for="inputNom">Nom<</label>
            <input type="text" name="Lastname" id="inputNom" placeholder="Entrer votre nom" class="form-control"/>*@

        <div class="form-horizontal">
            <div class="col-md-12" style="margin-top:20px">

                <div class="form-group">
                    @Html.LabelFor(x => x.CivilityID)
                    @Html.DropDownListFor(x => x.CivilityID, new SelectList(ViewBag.Civilities, "ID", "Label"))
                </div>

            

        <div class="form-group">
            @Html.LabelFor(x => x.Lastname, "Lastname")
            @Html.EditorFor(x => x.Lastname, null, new { htmlAttribute = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Lastname, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Firstname, "Firstname")
            @Html.EditorFor(x => x.Firstname, null, new { htmlAttribute = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Mail, "Mail")
            @Html.EditorFor(x => x.Mail, null, new { htmlAttribute = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.BirthDate, "Birthdate")
            @Html.EditorFor(x => x.BirthDate, null, new { htmlAttribute = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Password, "Password")
            @Html.EditorFor(x => x.Password, null, new { htmlAttribute = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmedPassword, "ConfirmedPassword")
            @Html.EditorFor(x => x.ConfirmedPassword, null, new { htmlAttribute = new { @class = "form-control" } })
        </div>
                </div>
            </div>

    }





    @*@Html.EditorFor(x => x.Lastname)
        @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control" })*@



    @*@Html.TextBoxFor(x=> x.Lastname)*@

    <button type="submit" class="btn btn-dark">Enregistrer</button>
    }
</div>

@section SectionScripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
