@{
    Layout = null;
    var user = Session["USER_BO"] as Roomy.Models.User;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backoffice | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/roomy.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h1>Backoffice</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { area="" })">App <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Dashboard")">Backoffice <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Categories")">Lister</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Categories")">Créer</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Salles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","Rooms")">Lister</a>
                            <a class="dropdown-item" href="@Url.Action("Create","Rooms")">Créer</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Bonjour @user.Firstname @user.Lastname <a href="@Url.Action("Logout","Authentication")" class="btn btn-danger">Déconnexion</a>
                </span>

            </div>
        </nav>

        @if(TempData["Message"]!=null)
        {
            <div class="alert alert-@TempData["MessageType"].ToString()">
                @TempData["Message"].ToString()
            </div>
        }



        @RenderBody()

        <footer class="bg-info">
            &copy; BACKOFFICE POEC Rouen 2018
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>